
.nav a{
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #6c7178;
}

#hero{
    height: 657px;
    background: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1980&q=80') no-repeat center;
}

#hero p{
    font-size: 22px;
}

.heading{
    font-size: 56px;
    font-family: 'Baskervville', serif;
}

.heading-description{
    font-size: 27px;
    font-weight: 300;
    color: #000000;
}

.link{
    font-size: 24px;
    font-weight: 300px;
    line-height: 1.17;
    letter-spacing: 2.18px;
    text-decoration: underline;
    color: #797979;
}

.link:hover{
    color: #000000;
}

.figure-caption{
    font-size: 28px;
    font-weight: 300;
    color: #000000;
}

#perfection h3{
    font-size: 22px;
    color: #868686;
}
