*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    --white-color:#ffffff;
    --button-color:#ff5274;
    --text-heading-color:#3d4351;
    --text-color:rgba(28, 54, 83, 0.7);
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.header{
    position: absolute;
    width: 100%;
    z-index: 100;
}

.header a{
    font-size: 13px;
}

.header .header-wrapper{
    position: relative;
    padding: 48px 0px;
    margin: 0 auto;
    max-width: 1000px;
    border-bottom: 1px solid lightslategray;
}

.header .logo{
    position: absolute;
}

.nav .header-menu{
    position: absolute;
    left:200px;
}

.nav .header-menu li{
    display: inline-block;
    list-style: none;
    padding-left: 19px;
}

.nav .header-menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
}

.nav .header-menu a:hover{
    color: lightslategray;
}

.nav .header-actions{
    position: absolute;
    right: 0px;
}

.nav .header-actions li{
    display: inline-block;
    list-style: none;
    padding-left: 19px;
}

.nav .header-actions a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
}

.nav .header-actions a:hover{
    color: lightslategray;
}

.nav .header-actions .signup{
    border: 2px solid var(--white-color);
    border-radius: 40px;
    padding: 6px 25px;
}

.nav .header-actions .signup:hover{
    background-color: white;
    color: lightslategray;
}

.hero{
    width: 100%;
    background-image: linear-gradient(rgba(38, 43, 57, 0.9),rgba(38, 43, 57, 0.9)),url('images/hero-image-one.png');
    height: 100vh;
}

.hero h1{
    position: relative;
    top: 32%;
    text-align: center;
    font-size: 60px;
    color: var(--white-color);
    font-weight: normal;
}

.hero p{
    position: relative;
    top: 34%;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: white;
}

.hero .button-wrapper{
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 48%;
}

.hero .button-wrapper .download{
    background-color: var(--button-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 40px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 18px 34px;
    border:2px solid var(--button-color);
}

.hero .button-wrapper .download:hover{
    color: var(--button-color);
    background-color: transparent;
}

.hero .button-wrapper .learn{
    border: 2px solid var(--button-color);
    color: var(--button-color);
    text-decoration: none;
    border-radius: 40px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 17px 64px;
    margin-left:15px;
}

.hero .button-wrapper .learn:hover{
    color: var(--white-color);
    background-color: var(--button-color);
}

.hero .angle-down{
    position: absolute;
    left: 49%;
    bottom: 20px;
    color: var(--white-color);
    font-size: 35px;
}


main{
    
}

.features-section{
    background-color: var(--white-color);
    height: 370px;
}

.features-wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

.feature li{
    padding-top: 120px;
    margin-left: 50px;
    list-style: none;
    float: left;
    width: 350px;
}

.feature figure{
    position: absolute;
}

.feature h3{
    position: relative;
    color: var(--text-heading-color);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature p{
    position: relative;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
    color:var(--text-color);
    padding-right: 50px;
}

.feature .one h3{
    left: 54px;
}

.feature .one p{
    left: 54px;   
}

.feature .two h3{
    left: 40px;
}

.feature .two p{
    left: 40px;
}
.feature .three h3{
    left: 50px; 
}

.feature .three p{
    left: 50px;
}

.product-section{
    background-color: #f7f8fa;
    height: 760px;
    position: relative;
}

.mobile-container{
    top: 0;
    width: 48%;
    height: 100%;
    position: absolute;
}

.ipad-image{
    position: relative;
    top: 118px;
    height: 642px;
}

.iphone-image{
    position: absolute;
    max-width: 304px;
    top: 350px;
    right: 0px;
}

.text-container{
    position: absolute;
    padding: 113px 150px;
    right: 0;
    width: 50%;
    height: 100%;
}

.text-container h2{
    color: var(--text-heading-color);
    font-size: 24px;
    font-weight: normal;
}

.text-container h3{
    font-size: 15px;
    color: var(--text-heading-color);
    font-weight: normal;
}

.text-container p{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
    color: var(--text-color);
    margin-top: 20px;
}

.text-container .product-features{
    list-style: none;
    margin-top: 58px;
}

.product-features li{
    margin-top: 20px;
    border-bottom: 1px solid #e6e9ea;
}

.product-features li:last-child{
    border-bottom: 0px;
}

.product-features li img{
    position: absolute;
}

.product-features li h3{
    margin-left: 52px;
}

.product-features li p{
    margin-top: 5px;
    margin-left: 52px;
    margin-bottom: 21px;
}

.sketch-section{
    position: relative;
    height: 760px;
    padding-top: 118px;
    padding-bottom: 118px;
}

.sketch-section figure{
    float: right;
}

.sketch-section article{
    width: 500px;
    margin-left: 280px;
}

.sketch-section article h2{
    display: inline-block;
    margin-top:40px;
    font-size: 24px;
    font-weight: normal;
    color: var(--text-heading-color);
    margin-bottom: 20px;
}

.sketch-section article p{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.67;
    color: var(--text-color);
    margin-bottom: 20px;
}

.sketch-section article a{
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--button-color);
    font-size: 13px;
    font-weight: 600;
    border: 2px solid var(--button-color);
    border-radius: 40px;
    padding: 10px 35px;
}

.sketch-section article a:hover{
    background-color: var(--button-color);
    color: var(--white-color);
}

.customise-sedna{
    position: relative;
    text-align: center;
    background-color: #3d4351;
    height: 500px;
}

.customise-sedna h2{
    position: relative;
    top: 100px;
    font-size: 40px;
    font-weight: 300;
    color:var(--white-color);
}
.customise-sedna p{
    position: relative;
    top: 127px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.56;
    color: #acb1b4;
}

.customise-sedna a{
    position: relative;
    top: 180px;
    font-size: 13px;
    font-weight: 300;
    line-height: 2.3;
    color: var(--button-color);
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--button-color);
    border-radius: 40px;
    padding: 15px 30px;
}

.customise-sedna a:hover{
    background-color: var(--button-color);
    color: var(--white-color);
}

.customise-sedna figure{
    position: relative;
    height: 230px;
    top: 250px;
}


.showcase{
    padding-top: 150px;
    padding-bottom: 150px;
}

.showcase h2{
    position: relative;
    left: 200px;
    font-size: 24px;
    color: var(--text-color);
}

.showcase-content{
    position: relative;
    margin-left: 200px;
    margin-top:80px;
    float: left;
}

.one{
    width: 520px;
}

.two{
    margin-left: 97px;
    width: 520px;
}

.showcase-content h3{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-heading-color);
}

.showcase-content p{
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    margin-top: 20px;
    color: var(--text-color);
}

.clear-float{
    clear: both;
}
