@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-stack : 'Open Sans', sans-serif;
$text-base-size:1em;
$text-scale-ratio:1.2em;

$color-white:#ffffff;

$color-black-900:#000000;
$color-black-800:#212b36;


$color-gunmetal:#454f5b;

$color-blue-grey-900:#abccee;
$color-blue-grey-800:#c4cdd5;

$color-bright-cyan:#4ad5f6;

$color-grey-700:#47495a;
$color-grey-600:#637381;
$color-grey-400:#adadad;
$color-grey-300:#919eab;
$color-grey-200:#f4f6f8;
$color-grey-100:#f9fafb;



