header{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 21px;
    font-size: 16px;
    line-height: 1.5;
    z-index: 1;

    .logo{
        float: left;
        font-size: 16px;
        vertical-align: top;
        color: $color-black-900;
        font-weight: 600;

        span{
            display: inline-block;
            vertical-align: top;
            border-radius: 0% 0% 50% 50%;
            width: 15px;
            height: 20px;
            background-color: $color-black-900;
        }
    }

    .brand{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        color: $color-grey-400;

        span{
            margin-left: 5px;
        }
    }
}

form{
    
    float: right;

    .search__list{
        display: none;
        position: absolute;
        top: 24px;
        width: 90%;
        left: 26px;
        border-radius: 2px;
        background-color: $color-white-900;
        border: 1px solid $color-grey-100;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);

        li{
            font-size: 14px;
            padding: 5px;
        }

        li:hover{
            background-color: $color-grey-100;
        }
    }

    .search__list-show{
        display: block;
    }

}

.search{
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07);
    padding: 1px 20px 2px 9px;
    line-height: 1.2;
    border-radius: 15px;
    color: $color-grey-300;
    border: 1px solid $color-grey-300;

    .fa-angle-down{
        font-size: 12px;
        position: absolute;
        bottom: 2px;
    }

    input[type=text]{
        padding-left: 12px;
        font-size: 14px;
        width: 290px;
    }
}
