.sidebar{
    float: left;
    position: relative;
    @include size(15%,100%);
    overflow-y: auto;


    .compose{
        display: inline-block;
        @include margin(21px 0px 0px 15px);
        border-radius: 2px;
        @include padding(10px 52px);
        font-size: 12px;
        color: $color-white-900;
        text-transform: uppercase;
        background-color: $color-blue-400;
    }
}

.mail-options{
    
    padding: 0px 21px;
    @include padding(0px 21px);
    @include margin(28px 0 0 0);

    .mail-options__item{

        @include margin(12px 0 0 0);


        i{
            font-size: 18px;
        }
        
        a{
            color: inherit;
            background-color: inherit;
            text-transform: capitalize;
            font-size: 14px;
            @include margin(0 0 0 12px);
        }  
           
    }

    .mail-options-active{
        color: $color-black-200;
    }
    
}

.chat-options{
    @include margin(37px 0 80px 0);

    .chat-options__item{
        @include padding(8px 10px 8px 25px);

        a{
            font-size: 14px;
            background-color: transparent;
            @include margin(0 0 0 15px);
        }

        .fa-angle-down{
            font-size: 12px;
            cursor: pointer;
            float: right;
            @include margin(5px 0 0 0);
            @include padding(0px 2px);
            color: $color-white-900;
            background-color: $color-black-300;
        }
    }

    .client-sublist{
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease-out;  
        font-size: 13px;
        color: $color-black-100;

        li{
            font-weight: 600;
            @include padding(10px 21px 10px 26px);

            .badge{
                width: 1px;
                height: 1px;
                border-radius: 50%;
                border-width: 2px;
                @include margin(0px 23px 0 0);
            }
        }

        li:hover{
            color: $color-black-200;
        }
    }

    .chat-options-active{
        background-color: $color-white-200;
        color: $color-black-200;
    }
}

.button-group{
    
    position: fixed;
    bottom: 0;
    width: 15%;
    color: $color-black-100;
    font-size: 0;
    background-color: $color-white-500;

    button{
        font-size: 18px;
        @include padding(20px 0px);
        width: 50%;
    }

    .setting{
        border-right: 1px solid $color-white-200;
    }

    .button-active{
        background-color: $color-white-500;
        color: $color-black-200;
    }
}
