*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    --primary-button-color: #00d5a6;
    --color-white: #ffffff;
    --color-pink: #ff0161;
    --border-color:#e7e8ea;
    --footer-color:#f8f9fa;
    --sub-heading-color: #33325f;
    --sub-description-color: #2b2b2b;
    overflow-x: hidden;
}

body a{
    text-decoration: none;   
}

body ul{
    list-style: none;
}

/* custom classes start*/
.container{
    max-width: 960px;
    margin: 0 auto;
}

.heading{
    text-shadow: 0 6px 11px rgba(0, 0, 0, 0.5);
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 8px;
}

.heading__description{
    font-size: 2.6rem;
    text-align: center;
    text-shadow: 0 6px 11px rgba(0, 0, 0, 0.5);
    color:var(--color-white);
    margin-bottom: 30px;
}

.sub-heading{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.59;
    color: var(--sub-heading-color);
}

.sub-heading__description{
    font-size: 2.2rem;
    line-height: 1.59;
    color: var(--sub-description-color);
}

.feature{
    font-size: 1.6rem;
    margin-left: 10px;
    color: var(--sub-heading-color);
}

.cta__text__link{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.94;
    color: var(--color-pink);
    text-decoration: none;
}

.hero__btn_primary{
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.5);
    background-color: var(--primary-button-color);
    color: var(--color-white);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 55px;
    font-weight: bold;
    display: inline-block;
}
/* custom classes end */


/* header start */
header{
    position: absolute;
    width: 100%;
}

nav{
    text-decoration: none;
    padding: 40px 10px 0px 10px;
}

.nav__logo{
    float: left;
    font-size: 22px;
    font-weight: 600;
    color: var(--color-white);
}

.nav__nav-list{
    float: right;
}

.nav__nav-list li{
    display: inline-block;
    margin-left: 50px;
    line-height: 2;
}

.nav__nav-list a{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600px;
    color: var(--color-white);
    padding: 2px 10px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.nav__nav-list a:hover{
    background-color: var(--color-white);
    color: var(--description-color);
}

nav::after{
    content: '';
    display: block;
    clear: both;
}
/* header end */

/* hero start */
.hero{
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0),rgba(42, 42, 42, 0.8)),url('images/hero-image.png') no-repeat center;
    background-size: cover;
    text-align: center;
}

#hero__container{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
/* hero end */


/* cta start */
#cta{
    padding: 108px 0px;
}

.cta__text{
    width: 50%;
    float: left;
}

.cta__image{
    width: 50%;
    float: right;
}

.cta__image img{
    margin-left: 45px;
}

#cta::after{
    content: '';
    display: block;
    clear: both;
}
/* cta end  */


/* computer start */
.computer__image{
    width: 50%;
    float: left;
}

.computer__text{
    padding-left: 50px;
    margin-top: 180px;
    width: 50%;
    float: right;
}

#computer hr{
    margin-top: 26px;
    width: 100%;
}

.computer__simple{
    margin-top: 26px;
}

.computer__simple figure{
    display: inline-block;
}

.computer__simple p{
    font-size: 1.6rem;
    display: inline-block;
    width: 80%;
}

.computer__simple span{
    color: var(--color-pink);
    font-weight: bold;
}

#computer::after{
    content: '';
    display: block;
    clear: both;
}
/* computer end */


/* tablet start */
#tablet{
    padding-top: 300px;
}

.tablet__text{
    width: 45%;
    float: left;
}

.tablet__image{
    float: right;
    width: 55%;
}

.tablet__image img{
    max-width: 590px;
}

.tablet__list{
    padding: 30px 0px 30px 0px;  
}

.tablet__list_left{
    float: left;
    width: 50%;
}

.tablet__list_left li,
.tablet__list_right li{
    margin-bottom: 22px;
}

.tablet__list_left i,
.tablet__list_right i{
    background-color: var(--primary-button-color);
    border-radius: 50%;
    padding: 10px;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#tablet::after{
    content: '';
    display: block;
    clear: both;
}
/* tablet end */


/* footer start */
footer{
    border: 1px solid var(--border-color);
}

.footer__upper h2{
   float: left;
   width: 30%;
   padding: 50px 0px 50px 98px;
}

.footer__upper figure{
    width: 40%;
    float: left;
}

.footer__icon{
    width: 30%;
    padding: 40px 18px 40px 180px;
    font-size: 0;
    float: right;
}

.footer__upper::after{
    content: '';
    clear: both;
    display: block;
}

.footer__icon i{
    color: #b9bdc3;
    font-size: 20px;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
}

.footer__bottom{
    border: 1px solid var(--border-color);
    background-color: #f8f9fa;
    padding: 22px 98px 22px 98px;
}

.footer__bottom p{
    color: #999ea8;
}
/* footer end */



/*  media query for tablets and laptop */

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    
    nav{
        padding: 40px 20px 0px 20px;
    }

    main{
        padding: 30px 40px;
    }

    .computer__simple p{
        width: 70%;
    }

    .computer__text{
        padding-left: 0px;
        margin-top: 0;
    }    

    .tablet__image img,
    .computer__image img,
    .cta__image img{
        max-width: 350px;
    }

    .cta__image img{
        margin-left: 20px;
    }

    .tablet__image img{
        margin-left: 50px;
    }

    .footer__upper figure{
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer__icon{
        padding: 40px 0px 40px 40px;
    }
}


/* media query for low resolution tablet  */
@media only screen and (min-width: 481px) and (max-width: 767px) {

    main{
        padding: 50px;
    }

    #cta,
    #computer,
    #tablet{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .computer__text{
        padding-left: 0px;
        margin-top: 0;
    }

    .cta__text,
    .cta__image,
    .computer__text,
    .computer__image,
    .tablet__text,
    .tablet__image,
    .tablet__list_left,
    .tablet__list_right{
        float: none;
        width: 100%;
    }

    .cta__image,
    .computer__image,
    .tablet__image{
        text-align: center;
    }

    .cta__image img,
    .computer__image img,
    .tablet__image img{
        margin-top: 20px;
        margin-left:0px;
        max-width: 350px;
    }  

    .footer__upper figure{
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer__icon{
        padding: 40px 0px 40px 40px;
    }
}

/* media query for mobile */
@media only screen and (max-width:480px){

    .hero{
        min-width: 320px;
    }

    nav{
        text-align: center;
        padding: 20px;
    }

    .nav__logo{
        float: none;
    }

    .nav__nav-list{
       float: none;
    }

    .nav__nav-list li{
        margin-left: 0px;
        margin-top: 10px;
    }

    .heading{
        font-size: calc(12vw + 1rem);
    }

    .heading--description{
        font-size: calc(6vw + 1rem);
        margin-bottom: 50px;
    }
    
    .btn--primary{
        font-size: calc(5vw+1rem);
    }

    #cta,
    #computer,
    #tablet{
        padding: 50px 0px;
    }

    .cta__text,
    .computer__text,
    .tablet__text{
        padding: 30px;
    }

    .cta__text,
    .cta__image,
    .computer__text,
    .computer__image,
    .tablet__text,
    .tablet__image,
    .tablet__list_left,
    .tablet__list_right{
        float: none;
        width: 100%;
    }

    .cta__image,
    .computer__image,
    .tablet__image{
        text-align: center;
    }

    .cta__image img,
    .computer__image img,
    .tablet__image img{
        margin-left:0px;
        max-width: 320px;
    }

    .computer__text{
        margin-top: 0px;
    }

    .computer__simple p{
        width: 70%;
    }

    #tablet{
        padding-top: 50px;
    }

    footer{
        min-width: 320px;
        text-align: center;
    }

    .footer__upper{
        padding: 20px 0px;
    }

    .footer__upper h2,
    .footer__upper figure,
    .footer__icon{
        float: none;
        width: 100%;
    }

    .footer__upper h2{
        padding: 0;
        font-size: 20px;
    }

    .footer__upper figure{
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer__icon{
        padding: 0;
    }

    .footer__bottom{
        padding: 20px;
    }

    .footer__bottom p{
        font-size: 1.1rem;
    }
}

