@mixin clearfix {
    &::after{
        content: '';
        display: block;
        clear: both;
    }
}


@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin translate($x,$y) {
    @include transform(translate($x,$y));
}