$color-white-900:#ffffff;
$color-white-500:#f9f9f9;
$color-white-200:#DCDCDC;

$color-black-900:#000000;
$color-black-400:#65676e;
$color-black-300:#70727a;
$color-black-200:#4c4f59;
$color-black-100:#6f6f75;

$color-grey-400:#8e8e93;
$color-grey-300:#b4b0af;
$color-grey-200:#8f929d;
$color-grey-100:#eceff3;

$color-blue-400:#007aff;
$color-blue-100:#00dcff;

$color-purple:#9200ff;
$color-orange:#ff7100;
$color-yellow:#d0db00;


