.chat{
    position: relative;
    float: left;
    @include size(60%,100%);
}

.chat__container{
    padding:36px 30px 0px 30px;
}

.chat__details{
    position: relative;
    @include padding(0 0 40px 0);
    border-bottom: 2px solid $color-grey-100;

    .icon{
        width: 54px;
        height: 54px;
        border-radius: 50%;
        overflow: hidden;

        .personal-badge{
            position: absolute;
            top: 2px;
            left: 42px;
        }

        img{
            max-width: 100%;
        }
    
    }
    
    > div{
        vertical-align: top;
        display: inline-block;
    }
}

.description{
    padding: 5px 20px;

    .subject{
        font-size: 18px;
        display: inline-block;
        width: 300px;
        line-height: 1.2;
        text-overflow: ellipsis;
        color: $color-black-200;
    }

    > div{
        position: relative;
        margin-top: 12px;

        span{
            color: $color-black-100;
            font-size: 13px;
        }

        .sender{
            border: 1px solid $color-grey-100;
            color: $color-grey-200;
            padding: 2px 12px;
            border-radius: 12px;
            cursor: pointer;
        }

        .sender__details{
            
            position: absolute;
            display: none;
            top: 25px;
            left: 120px;
            width: 300px;
            padding: 15px;
            background-color: $color-white-900;
            border-radius: 2px;
            border: 1px solid $color-grey-100;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            li{
                font-size: 15px;
                color: $color-black-100;
                margin-bottom: 5px;

                span{
                    margin-left: 1px;
                    color: $color-black-200;
                    font-weight: 700;
                }
            }
        }

        .sender-details-show{
            display: block;
        }
    }
}


.chat__icons{

    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 10px;
    border: 0.5px solid $color-white-200;
    border-radius: 25px;
    overflow: hidden;
    font-size: 0;

    .chat__icons_item{
        padding: 6px 12px;
        font-size: 18px;
        color: $color-grey-300;
    }

    .fa-star,.fa-file-text,.fa-trash{
        border-right: 1px solid $color-white-200;
    }

    .chat-icons-active{
        color: $color-white-900;
        background-color: $color-blue-400;
    }
}


.chat__content{
    height: 65vh; 
    padding: 30px 30px 0px 0px;
    overflow: auto;

    p{
        padding-bottom: 20px;
        word-spacing: 2px;
        line-height: 1.5;
        font-size: 14px;
        color: $color-black-400;
    }
}
