.mails{
    position: relative;
    float: left;
    @include margin(20px 0 0 0);
    @include size(40%,100%);
}

.filter__container{
    @include padding(2px 2px 2px 10px);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    color: $color-grey-300;
    border: 1px solid $color-grey-300;
    

    input[type=text]{
        font-size: 14px;
        width: 95%;
        background-color: transparent;
        @include padding(5px 5px 5px 10px);
    }
}


.mail-list{
    @include margin(5px 0 0 0);
    overflow-y: scroll;
    height: 100%;
}


.mail-list__item{
    border-bottom: 1px solid $color-white-200;
    cursor: pointer;
    border-left: 4px solid transparent;
}

.mail-list__item:last-child{
    border-bottom: 0px solid $color-white-200;
    @include margin(0 0 50px 0);
}

.message{
    @include padding(22px 19px);
    
    div:first-child{
        line-height: 1.5;
        margin-bottom: 9px;
    }

    .message__content,.message__sender{
        display: inline-block;
        width: 70%;
        line-height: 1.5;
        @include text-clipping;
    }

    .message__content,.message__time{
        color: $color-black-200;
        font-size: 15px;
    }

    .message__time{
        float: right;
        font-size: 14px;
    }

    .message__sender{
        font-size: 12px;
    }

    .message__icons{
        // display: inline;
        float: right;
        font-size: 13px;

        .badge{
            border-radius: 50%;
            border-width: 6px;
            @include margin(0 0 0 3px);
        }

        i{
            @include margin(0 0 0 3px);
        }
    }

}



.mail-list-active{
    background-color: $color-white-500;
    border-left: 4px solid $color-blue-400;
}




