.report{
    @include padding(20px);
    overflow: auto;
}

.chart{
    width: 75%;
    @include margin(20px auto 0 auto);
}


.report__data{
    width: 100%;
    @include clearfix;

    .mails-sent,.mails-recieved,.drafts{
        width: calc((100% - 40px) / 3);
        float: left;
        text-align: center;
        background-color: $color-white-900;
        @include margin(0 0 0 20px);
        @include padding(15px);
        border-radius: 5px;
        font-weight: bolder;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);

        &:hover{
            transform: scale(0.99,0.99);
        }
    }

    .mails-sent{
        margin-left: 0px;
    }

    i{
        font-size: 30px;
    }

    p{
        @include margin(10px 0);
    }

    p,span{
        font-size: 20px;
    }

    p,span,i{
        color: $color-black-200;
    }
}