.btn{
    @include padding(15px 72px);
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
    color: $color-white;
    border: 0px;
    cursor: pointer;

    &--next{
        background-color: $color-bright-cyan;
    }

    &--back{
        background-color: $color-blue-grey-800;
    }
    
    &--active{
        background-color: $color-grey-600;
        color: $color-white;
    }

    &--inactive{
        background-color: $color-white;
        color: $color-black-800;
    }
}

